[Unit]
Description=Delete unreachable nix store paths
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "source %h/.nix-profile/etc/profile.d/nix.sh; nix-collect-garbage --delete-old"
IOSchedulingClass=idle
