[Unit]
Description=Cleanup of Temporary Directories
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=tmpwatch --all --verbose 60d %h/tmp
ExecStart=find %h/tmp -type d -empty -delete -print
IOSchedulingClass=idle
