[b2]
type = b2
account = {{ pass "backblaze_B2/dean-backup/ID" }}
key = {{ pass "backblaze_B2/dean-backup/key" }}
hard_delete = true

[minio]
type = s3
provider = Minio
env_auth = true
endpoint = https://s3.todevski.com
