#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Dean Lindqvist Todevski"
email = "dean.todevski@relexsolutions.com"

[ui]
default-command = "log"
diff-formatter = "difft"
conflict-marker-style = "git"

[revset-aliases]
work = 'present(@) | ancestors(immutable_heads().., 1) | present(trunk())'
work-only = 'present(@) | ancestors(immutable_heads().., 1)'
# Show all in progress heads when standing on a megamerge-commit.
# Useful for rebasing it on everything that is wip.
in-progress = 'heads(~@:: & ancestors(immutable_heads().., 1))'

[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[templates]
git_push_bookmark = '"dean/push-" ++ change_id.short()'

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.ago()'
# 'format_short_signature(signature)' = 'signature.email().local()'
# 'format_short_id(id)' = 'id.shortest()'

# [fix.tools.golangci-lint-fmt]
# command = ["$root/tools/golangci-lint", "fmt"]
# patterns = ["glob:'**/*.go'"]

[merge-tool.delta]
diff-args=["--side-by-side", "$left", "$right", "--width=$width"]

[merge-tool.difft]
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.ediff]
program = 'sh'
merge-args = ['-c',
  'emacsclient -t -c --eval "(ediff-merge-files-with-ancestor \"$0\" \"$1\" \"$2\" nil \"$3\")"',
  '$left', '$right', '$base', '$output']
