#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Dean Lindqvist Todevski"
email = "dean.todevski@gmail.com"

[ui]
default-command = "log"
diff-formatter = "delta"
conflict-marker-style = "git"
log-word-wrap = true

[revset-aliases]
work = 'present(@) | ancestors(immutable_heads().., 1) | present(trunk())'
work-only = 'present(@) | ancestors(immutable_heads().., 1)'
# Show all in progress heads when standing on a megamerge-commit.
# Useful for rebasing it on everything that is wip.
in-progress = 'heads(~@:: & ancestors(immutable_heads().., 1))'

[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[templates]
git_push_bookmark = '"dean/" ++ change_id.short()'

[template-aliases]
'format_short_id(id)' = 'id.shortest()'
'format_short_signature(signature)' = 'if(!mine, signature.email().local())'
'format_short_signature_oneline(signature)' = 'if(!mine, signature.email().local())'
'format_timestamp(timestamp)' = 'timestamp.ago()'

[merge-tools.delta]
diff-args = ["--file-transformation", "s#^(left|right)/##g", "$left", "$right", "--width=$width"]
diff-expected-exit-codes = [0, 1]

[merge-tools.ediff]
program = 'sh'
merge-args = [
  '-c',
  'emacsclient -t -c --eval "(ediff-merge-files-with-ancestor \"$0\" \"$1\" \"$2\" nil \"$3\")"',
  '$left',
  '$right',
  '$base',
  '$output',
]

[aliases]
logwatch = [
  "util",
  "exec",
  "--",
  "viddy",
  "--disable_auto_save",
  "--no-title",
  "--skip-empty-diffs",
  "jj",
  "log",
  "--color=always",
  "--ignore-working-copy",
  "--template=builtin_log_oneline"
]
sqk = ['squash', '--keep-emptied']
